__pycache__/
.ipynb_checkpoints/
runs/
sentiment_data/
twitter_data/data/
reddit_data/data/
wykop_data/data/
models/politicalBERT/
models/politicalHerBERT/
models/fitted_bert_*
models/*.zip
/sentiment_data/
